@model Auction

<div id="addnew">
    <div class="topsection">
        <h1>New Auction</h1>
        <div class="topright">
            <h3><a href="~/dashboard">Home</a></h3>
            <h3><a href="~/logout">Logout</a></h3>
        </div>
    </div>
    <form asp-action="AddAuction" asp-controller="Home" method="post">
    <div class="regside">
        <div class="form-group">
            <label>Product Name</label>
            <span asp-validation-for="ProductName" style="color:red;"></span>
            <input type="text" class="form-control" asp-for="ProductName">
        </div>
        <div class="form-group">
            <label>Description</label>
            <span asp-validation-for="Description" style="color:red;"></span>
            <textarea rows="3" asp-for="Description"></textarea>
        </div>
    </div>
    <div class="regside rightside">
        <div class="form-group">
            <label>Starting Bid</label>
            <span asp-validation-for="TopBid" style="color:red;"></span>
            <input type="text" class="form-control bid" asp-for="TopBid">
        </div>
        <div class="form-group">
            <label>End Date:</label>
            <span asp-validation-for="EndDate" style="color:red;"></span>
            <input type="date" class="form-control enddate" asp-for="EndDate">
        </div>
    </div>
        <button type="submit" class="btn btn-primary">Create Auction</button>
    </form>
</div>