<!-- using Microsoft.AspNetCore.Http -->
<!-- model List<Wedding> -->

<div id="dashboard">
    <div class="topsection">
        <h1>Current Auctions</h1>
        <h3>Hi FirstName!</h3>
        <h3><a href="~/logout">Log Out</a></h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Seller</th>
                <th scope="col">Top Bid</th>
                <th scope="col">Time Remaining</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- foreach()
                {-->
                <tr>
                    <td><a href="~/objectinfo/1">ProductName</a></td>
                    <td>Creator</td>
                    <td>TopBid</td>
                    <td>Time Remaining</td>
                        <!-- string Blean = "false";
                        foreach(var attender in wedding.Attenders){
                            if(attender.UserId == Context.Session.GetInt32("UserId"))
                            {
                                Blean = "true";
                            }
                        }
                        if(wedding.UserId == Context.Session.GetInt32("UserId"))
                        { -->
                            <td>
                                <form asp-action="RENAME" asp-controller="Home" method="post">
                                        <input type="hidden" name="RENAME" value="RENAME">
                                        <button type="submit" class="btn btn-outline-primary" style="outline:none;">RENAME</button>
                                </form>
                            </td>
                        <!-- }
                        else if(Blean == "true"){
                            <td>
                                <form asp-action="RENAME" asp-controller="Home" method="post">
                                        <input type="hidden" name="RENAME" value="RENAME">
                                        <button type="submit" class="btn btn-outline-primary" style="outline:none;">RENAME</button>
                                </form>
                            </td>
                        }
                        else{
                            <td>
                                <form asp-action="RENAME" asp-controller="Home" method="post">
                                        <input type="hidden" name="RENAME" value="RENAME">
                                        <button type="submit" class="btn btn-outline-primary" style="outline:none;">RENAME</button>
                                </form>
                            </td>
                        }
                    } -->
                </tr>
            <!-- } -->
        </tbody>
    </table>
    <a class="btn btn-primary" href="~/addnew">New Auction</a>
    <h5>Your Current Wallet: $567.24</h5>
</div>